PORT=
NODE_ENV=development

DATABASE_URL=
DB_HOST=my_database_host 
DB_USER=
DB_PASSWORD=nysc124364765
DB_PORT=45647
DB_NAME=mercy

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_EXPIRE_IN=

PREMBLY_API_KEY=
PREMBLY_API_SECRET_KEY=
PREMBLY_PUBLIC_KEY=
MOCK_PREMBLY_VERIFICATION=

OCR_SPACE_API_KEY=

ADMIN_FULL_NAME=
ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_PASSWORD=