NODE_ENV=development

DATABASE_URL=
DB_HOST=my_database_host 
DB_USER=
DB_PASSWORD=nysc124364765
DB_PORT=45647
DB_NAME=mercy
PORT=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_EXPIRE_IN=