PORT=6245
NODE_ENV=development

DB_HOST=my_database_host 
DB_PASSWORD=nysc124364765
DB_PORT=45647
DB_NAME=mercy

TP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_EXPIRE_IN=